# QPM-Assignement-02 - Mean, Volatility, Skew and Kurtosis for stocks

by Guillaume IDAME KORALAGE

## Librairies

In [7]:
import pandas as pd
import numpy as np

import scipy
from scipy.stats import skew
from scipy.stats import kurtosis

import yfinance as yf
import matplotlib.pyplot as plt

## Functions

In [12]:
def get_market_data(list_yahoo_codes, start_date, end_date) : 
    market_data = yf.download(list_yahoo_codes, start = start_date, end = end_date)
    return market_data

## Assignement

#### Q2.1 Download daily stock prices for FAANG stocks (Facebook/Meta, Amazon, Apple, Netix, Google/Alphabet) from January 2015 until December 2020. Note that the ticker symbols for the five stocks are: META, AMZN, AAPL, NFLX, and GOOG.

In [14]:
list_yahoo_codes = ["META", "AMZN", "AAPL", "NFLX", "GOOG"]
start_date = "2015-01-01"
end_date = "2020-12-31"

In [17]:
market_data = get_market_data(list_yahoo_codes, start_date, end_date) 
close_price_data = market_data.xs("Adj Close", level = 0, axis = 1)
close_price_data.tail()

[*********************100%%**********************]  5 of 5 completed

                  AAPL        AMZN       GOOG        META        NFLX
Date
2020-12-23  128.687256  159.263504  86.619003  268.109985  514.479980
2020-12-24  129.679733  158.634506  86.942497  267.399994  513.969971
2020-12-28  134.317825  164.197998  88.804497  277.000000  519.119995
2020-12-29  132.529358  166.100006  87.935997  276.779999  530.869995
2020-12-30  131.399353  164.292496  86.975998  271.869995  524.590027

#### Q2.2 Compute the first and second moments of stock returns for each of these stocks (i.e., their means, variances, and covariances).

In [24]:
log_return = np.log(close_price_data / close_price_data.shift(1)).dropna()

In [25]:
metrics = pd.DataFrame()
metrics["Mean"] = log_return.mean()
metrics["Variance"] = log_return.var()
metrics

          Mean  Variance
AAPL  0.001114  0.000349
AMZN  0.001568  0.000375
GOOG  0.000796  0.000286
META  0.000824  0.000407
NFLX  0.001560  0.000704

In [26]:
cov_return = log_return.cov()
cov_return

          AAPL      AMZN      GOOG      META      NFLX
AAPL  0.000349  0.000202  0.000193  0.000217  0.000209
AMZN  0.000202  0.000375  0.000215  0.000236  0.000276
GOOG  0.000193  0.000215  0.000286  0.000229  0.000217
META  0.000217  0.000236  0.000229  0.000407  0.000241
NFLX  0.000209  0.000276  0.000217  0.000241  0.000704

#### Q2.3 Compute the skewness and excess kurtosis for the returns for each of these stocks. Do the daily stock returns have a Normal distribution?

In [27]:
metrics["Skew"] = log_return.skew()
metrics["Excess Kurtosis"] = log_return.kurt() - 3
metrics

          Mean  Variance      Skew  Excess Kurtosis
AAPL  0.001114  0.000349 -0.325752         3.871250
AMZN  0.001568  0.000375  0.520067         3.291880
GOOG  0.000796  0.000286  0.224433         6.305925
META  0.000824  0.000407 -0.777739        11.239207
NFLX  0.001560  0.000704  0.346549         3.315500

Daily Stocks do not have a normal distribution because the excess kurtosis is not equal to 0.